.movie-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

@media all and (min-width: 512px) {
  .movie-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 768px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.movie-card {
  flex: 1 1 auto;
  margin: 10px;
  padding: 0 10px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 5px 0;
}

.header {
  margin-bottom: 5px;
}

.title {
  font-size: 1.2em;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 5px;
}