<div class="movie-list">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <mat-card-header class="header">
      <mat-card-title class="title">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image class="image" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions class="actions">
      <button mat-button color="primary" role="button"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
        Genre
      </button>
      <button mat-button color="primary" role="button" (click)="openDirectorDialog(movie.Director)">
        Director
      </button>
      <button mat-button color="primary" role="button"
        (click)="openSynopsisDialog(movie.Title, movie.Director.Name, movie.Description)">
        Synopsis
      </button>
      <div>
        <button mat-icon-button role="button" title="Add to favorites" *ngIf="!isFavorite(movie._id)"
          (click)="addFavorite(movie._id)"><mat-icon>favorite_border</mat-icon></button>
        <button mat-icon-button role="button" title="Remove from favorites" *ngIf="isFavorite(movie._id)"
          (click)="removeFavorite(movie._id)"><mat-icon>favorite</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>