<mat-toolbar color="primary" class="nav-bar">
  <a mat-button role="button" title="Watch-til-Death" class="nav-title"
    [routerLink]="isLoggedIn() ? ['/movies'] : ['/welcome']">
    <h1>Watch-til-Death</h1>
  </a>
  <div>
    <a mat-icon-button role="button" title="Open Profile" [routerLink]="'/profile'" *ngIf="isLoggedIn()"><mat-icon
        class="nav-icon">account_circle</mat-icon></a>
    <a mat-icon-button role="button" title="Sign out" [routerLink]="'/welcome'" (click)="onLogout()"
      *ngIf="isLoggedIn()"><mat-icon class="nav-icon">power_settings_new</mat-icon></a>
  </div>
</mat-toolbar>