.profile-view-container {
  max-width: 512px;
  margin: 20px auto 40px auto;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.2em;
}

.caption {
  font-weight: 600;
  padding-right: 5px;
}

.title-update {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.profile-form-update {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons {
  margin: 0 10px 0 auto;
}

.button-delete {
  margin-right: 10px;
}